{% include "parts/navbr.html" %}
{% block navbr %}{% endblock %}
<!-- CSS -->
{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/404.css' %}" rel="stylesheet" type="text/css">
<!-- <link href="{% static 'css/cursor.css' %}" rel="stylesheet" type="text/css"> -->
<link href="{% static 'css/design.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/techstack.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/education.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/project.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/hover-min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/preloader.css' %}"rel="stylesheet" type="text/css">


<!-- JavaScript --> 
<script defer src="{% static 'js/dynamicTitle.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/404.js' %}"></script>
<script src="{% static 'js/cursor.js' %}"></script>
<script src="{% static 'js/education.js' %}"></script>
<script src="{% static 'js/techstack.js' %}"></script>
<script src="{% static 'js/project.js' %}"></script>
<script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/particle.js' %}"></script>


